.header-template--header-mega {
  .sbm-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
  
    .sbm-mega-menu {
      visibility: hidden;
      opacity: 0;
      transition: .3s ease;
      -webkit-transition: .3s ease;
    }
  
    > li {
      &.__sbm-has-megamenu > a:after,
      &.menu-item-has-children > a:after {
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        content: "\f078";
        display: inline-block;
        float: right;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        margin-right: 10px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 10px;
      }
    }
  
    .sub-menu {
      visibility: hidden;
      opacity: 0;
      transition: .3s ease;
      -webkit-transition: .3s ease;
      
      border-top: solid 1px var(--sbm-accent-color);
      
      position: absolute;
      z-index: 99;
      background: white;
      margin: 0;
      padding: 0;
  
      > li {
        width: 100%;
        margin: 0 !important;
        width: 200px;
  
        > a {
          padding: 1em;
          display: block;
        }
  
        &:hover {
  
          a {
            background: #eee;
          }
        }
      }
    }
  
    .menu-item {
      list-style: none;
  
      > a {
        color: var(--sbm-accent-color);
        padding: 1em 0;
        display: inline-block;
      }
  
      &:not(:last-child) {
        margin-right: 5em;
      }
  
      > .sbm-mega-menu {
        position: absolute;
        left: 0;
        z-index: 99;
        background: white;
        width: 100%;
        border-top: solid 1px var(--sbm-accent-color);
      }
  
      &:hover {
  
        > .sbm-mega-menu,
        > .sub-menu {
          visibility: visible;
          opacity: 1;
        }
        
      }
    }
  }
  
  .sbm-mega-menu {
  
    &__inner {
  
      &.__has-extra-text {
        display: flex;
        justify-content: space-between;
  
        .sbm-mega-menu__tab {
          width: 65%;
        }
  
        .sbm-mega-menu__extra-text {
          width: 35%;
          background: #E9E9E9;
          padding: 3em 1.5em 2em;
  
          h4 {
            margin: 0 0 1em 0;
            color: #666666;
            font-weight: bold;
          }
  
          ul {
            margin: 0;
            padding: 0;
  
            li {
              list-style: none;
  
              a {
              color: var(--sbm-accent-color);
              margin-bottom: 1em;
              display: block;
              }
            }
          }
        }
      }    
    }
  
    &__tab {
      display: flex;
      justify-content: space-between;
      padding: 3em 0 2em;
    }
  
    &__tab-heading {
      width: 200px;
    }
  
    &__tab-content {
      width: calc(100% - 230px);
    }
  
    &__tab-heading-ul {
      margin: 0;
      padding: 0;
      
      li {
        list-style: none;
  
        a {
          display: block;
          padding: 1em;
          color: var(--sbm-accent-color);
  
          transition: .3s ease;
          -webkit-transition: .3s ease;
  
          &:hover {
            opacity: .8;
          }
        }
      }
  
      li.tab-heading-item.__active {
        background: #E9E9E9;
        border-right: solid 4px var(--sbm-accent-color);
      }
    }
  
    &__tab-content {
  
      .tab-content-item {
        display: none;
  
        &.__active {
          display: flex;
          flex-wrap: wrap;
          margin: 0 -15px;
  
          .sbm-mega-menu__children-item {
            padding: 0 15px;
            margin-bottom: 1em;
            box-sizing: border-box;
  
            h4 {
              margin: 0 0 1em 0;
              color: #666666;
              font-weight: bold;
            }
          }
  
          &.__columns-1 {
            
            .sbm-mega-menu__children-item {
              width: calc(100% / 1);
            }
          }
          
          &.__columns-2 {
            
            .sbm-mega-menu__children-item {
              width: calc(100% / 2);
            }
          }
  
          &.__columns-3 {
            
            .sbm-mega-menu__children-item {
              width: calc(100% / 3);
            }
          }
  
          &.__columns-4 {
            
            .sbm-mega-menu__children-item {
              width: calc(100% / 4);
            }
          }
        }
      }
    }
  }
  
  .sbm-custom-nav {
    margin: 0;
    padding: 0;
  
    .sbm-custom-nav__item {
      list-style: none;
  
      a {
        color: var(--sbm-accent-color);
        display: block;
        margin-bottom: 1em;
        transition: .3s ease;
        -webkit-transition: .3s ease;
  
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}
